@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Cinzel+Decorative&display=swap');

/* {
    border: 1px solid red;
}*/

/*--------Colour Palette---------*/

.dark-blue {
    background-color: #0756a7;
}

.medium-blue {
    background-color: #60c1e7;
}

.light-blue {
    background-color: #c3dfe6;
}

.sandy-yellow {
    background-color: #ffc756;
}

.limestone {
    background-color: #f1e9c1;
}

.light-pink {
    background-color: #fee9e4;
}

.terracota {
    background-color: #e27d53;
}

/*--------Navigation---------*/

#side-menu a {
    position: absolute;
    left: -110px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 5px 5px 5px 30px;
    width: 170px; 
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 4;
    text-align: center;
}

#map-top,
#contact-top {
    top: 10vh;
    background-color: #0756a7;
}

#map-bottom,
#contact-bottom {
    top: 15vh;
    background-color: #e27d53;
}

#map-top i,
#contact-top i,
#map-bottom i,
#contact-bottom i {
    padding-left: 20px;
}

.top-active {
    transform: translateX(90px);
    color: red;
}

.bottom-active {
    transform: translateX(90px);
    color: red;
}

/*--------FOOTER | Social Media & Copyright---------*/

#social-container {
    position: fixed;
    bottom: -5rem;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 0.3s;
}

#social-tab {
    
    /*bottom: -2rem;*/
    width: 20%;
    margin-left: auto;
    Margin-right: auto;
    padding: 10px;
    height: 4rem; 
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #60c1e7;
    border-radius: 5px 5px 0 0;
    z-index: 4;
    text-align: center;
}

.social-media {
    /*position: relative;*/ 
    background-color: #0756a7;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

/*.sm-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}*/

.social-active {
    transform: translateY(48px);
    color: red;
}

/*--------Landing Page---------*/

#bg-img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

h1 {
    position: Relative;
    top: 30vh;
    z-index: 2;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;
    letter-spacing: 3px;
    color: #fff;
}

#explore {
    position: relative;
    top: 0;
    opacity: 0;   
}

/*--------Location Information Window-------*/

#location-window {
    background-color: #fff;
    height: 50vh;
    margin: 10%;    
}

#info-detail {
 margin: 5%;
 font-family: "Cinzel Decorative", sans-serif;
}

#info-detail p {
    
}

/*--------Google Map Window-------*/

.map-links {
    background-color: #aadaff;
}

.map-control {
    height: 4rem;
    width: 4rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62rem;
}

#beach {
    position: relative;
    bottom: 100;
}
/*-------- Contact Page ---*/

#contact-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

#contact-heading {
    color: #fff;
    font-family: "Caesar Dressing", sans-serif;
    letter-spacing: 3px;
    text-align: center;
    max-width: 70%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(195 , 223, 230, 0.8);
    border-radius: 0.75rem;
}

#contact-form {
    position: relative;
    max-width: 70%;
    margin-top: 4rem;
    margin-left: auto;
    Margin-right: auto;
    margin-bottom: 20rem;    
    background-color: rgba(195 , 223, 230, 0.8);
    border-radius: 1rem;    
}

form {
    padding: 1rem;
    
}

.button {
    text-align: center;
}

.contact-btn {
    width: 4rem;
    margin: 1rem;
    border-radius: 15px;
}


