@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Cinzel+Decorative:wght@400;700&family=Montserrat&display=swap');

/* {
    border: 1px solid red;
}*/

/*--------Colour Palette---------*/

.dark-blue {
    background-color: #0756a7;
}

.medium-blue {
    background-color: #60c1e7;
}

.light-blue {
    background-color: #c3dfe6;
}

.sandy-yellow {
    background-color: #ffc756;
}

.limestone {
    background-color: #f1e9c1;
}

.light-pink {
    background-color: #fee9e4;
}

.terracota {
    background-color: #e27d53;
}

/*--------Headings and Paragraphs---------*/

h1, h2 {
    font-family: "Caesar Dressing", sans-serif;
}

 {

}

p {
    font-family: "Raleway", sans-serif;
}

/*--------Navigation---------*/

#side-menu a {
    position: absolute;
    left: -110px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 5px 5px 5px 30px;
    width: 170px; 
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 4;
    text-align: center;
}

#map-top,
#contact-top {
    top: 10vh;
    background-color: #0756a7;
}

#map-bottom,
#contact-bottom {
    top: 15vh;
    background-color: #e27d53;
}

#map-top i,
#contact-top i,
#map-bottom i,
#contact-bottom i {
    padding-left: 20px;
}

.top-active {
    transform: translateX(90px);
    color: red;
}

.bottom-active {
    transform: translateX(90px);
    color: red;
}

/*--------FOOTER | Social Media & Copyright---------*/

#social-container {
    position: fixed;
    bottom: -4.5rem;
    width: 100vw;    
    text-align: center;
    transition: 0.3s;
}

#social-tab {    
    width: 15rem;
    margin-left: auto;
    Margin-right: auto;
    padding: 10px;
    height: 3rem; 
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #c3dfe6;
    border-radius: 10px 10px 0 0;
    z-index: 4;
    text-align: center;
}

#social-trigger {
    text-decoration: none;
    color: #fff;
}

.social-active {
    transform: translateY(-4.5rem);
    color: red;
}

#social-media {
    background-color: #60c1e7;
    color: #fff;       
}

#social-media li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#copyright {    
    background-color: #0756a7;
}

#social-media ul,
#copyright P {
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

/*--------Landing Page---------*/

#bg-img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

h1 {
    position: Relative;
    top: 30vh;
    z-index: 2;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;
    letter-spacing: 3px;
    color: #fff;
}

#explore {
    position: relative;
    top: 0;
    opacity: 0;   
}

/*--------Location Information Window-------*/

#location-window {
    background-color: #fff;
    height: 50vh;
    margin: 10% 5%;    
}

#info-detail {
 margin: 5%;
 font-family: "Cinzel Decorative", sans-serif;
}

#info-detail p {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
}

/*--------Google Map Window-------*/

.map-links {
    background-color: #aadaff;
    text-align: center;
}

.button-box {
    margin-left: auto;
}

.map-button {
    height: 4rem;
    width: 4rem;
    text-align: center;
    margin: 3%;
    font-size: 2rem;    
    border-radius: 1rem;
    box-shadow: inset 0 1px 0 #3298d9, 0 10px 0 #0756a7;
    cursor: pointer;
}

.map-button-hover {
    color: #fff;
    background-color: #3298d9;
    box-shadow: inset 0 1px 0 #3298d9, 0 10px 0 #0756a7;
}

.map-button-active {
    color: #fff;
    background-color: #ed9875;
    box-shadow: inset 0 1px 0 #3298d9, 0 5px 0 #e27d53;
    transform:translateY(5px);    
    outline: none;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62rem;
}

#location-window {
    background-color: #aadaff;
}

#img-box img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

#beach {
    position: relative;
    bottom: 100;
}

.chart-container {
    position: relative;
    height: 30vh;
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

div.mouse-scroll {
    overflow: hidden;
}
div.mouse-scroll:hover {
    overflow-y: scroll;
}

/*-------- Contact Page ---*/

#contact-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

.page-header {
    position: relative;
    top: 5%;
    font-family: "Caesar Dressing", sans-serif;
    text-align: center;
}

#contact-subhead {
    color: #fff;
    font-family: "Caesar Dressing", sans-serif;
    letter-spacing: 3px;
    text-align: center;
    max-width: 70%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(195 , 223, 230, 0.8);
    border-radius: 0.75rem;
}

#contact-form {
    position: relative;
    max-width: 70%;
    margin-top: 4rem;
    margin-left: auto;
    Margin-right: auto;
    margin-bottom: 20rem;    
    background-color: rgba(195 , 223, 230, 0.8);
    border-radius: 1rem;    
}

form {
    padding: 1rem;
    
}

.button {
    text-align: center;
}

.contact-btn {
    width: 4rem;
    margin: 1rem;
    border-radius: 15px;
}

/*---------- MEDIA QUERIES ---------*/

@media screen and (max-width: 767.98px) {
    #social-container {    
        bottom: -8.5rem;    
    }

    .social-active {
        transform: translateY(-8.5rem);
    }

    #map-top,
    #contact-top {
        top: 7vh;        
    }

    #map-bottom,
    #contact-bottom {
        top: 15vh;        
    }

    #contact-subhead {    
    letter-spacing: 1px;    
    max-width: 90%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;    
}

#contact-form {    
    max-width: 90%;
    margin-top: 4rem;
    margin-left: auto;
    Margin-right: auto;
       
}

}